.loading {
	display: table;
	margin: auto;
}
#ballsWaveG{
	position:relative;
	width:128px;
	height:30px
}

.ballsWaveG{
	position:absolute;
	top:0;
	background-color:#C72CC7;
	width:16px;
	height:16px;
	-moz-animation-name:ballsWaveG;
	-moz-animation-duration:0.8s;
	-moz-animation-iteration-count:infinite;
	-moz-animation-direction:linear;
	-moz-border-radius:8px;
	-webkit-animation-name:ballsWaveG;
	-webkit-animation-duration:0.8s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-direction:linear;
	-webkit-border-radius:8px;
	-ms-animation-name:ballsWaveG;
	-ms-animation-duration:0.8s;
	-ms-animation-iteration-count:infinite;
	-ms-animation-direction:linear;
	-ms-border-radius:8px;
	-o-animation-name:ballsWaveG;
	-o-animation-duration:0.8s;
	-o-animation-iteration-count:infinite;
	-o-animation-direction:linear;
	-o-border-radius:8px;
	animation-name:ballsWaveG;
	animation-duration:0.8s;
	animation-iteration-count:infinite;
	animation-direction:linear;
	border-radius:8px;
}

#ballsWaveG_1{
	left:0;
	-moz-animation-delay:0.32s;
	-webkit-animation-delay:0.32s;
	-ms-animation-delay:0.32s;
	-o-animation-delay:0.32s;
	animation-delay:0.32s;
}

#ballsWaveG_2{
	left:16px;
	-moz-animation-delay:0.4s;
	-webkit-animation-delay:0.4s;
	-ms-animation-delay:0.4s;
	-o-animation-delay:0.4s;
	animation-delay:0.4s;
}

#ballsWaveG_3{
	left:32px;
	-moz-animation-delay:0.48s;
	-webkit-animation-delay:0.48s;
	-ms-animation-delay:0.48s;
	-o-animation-delay:0.48s;
	animation-delay:0.48s;
}

#ballsWaveG_4{
	left:48px;
	-moz-animation-delay:0.56s;
	-webkit-animation-delay:0.56s;
	-ms-animation-delay:0.56s;
	-o-animation-delay:0.56s;
	animation-delay:0.56s;
}

#ballsWaveG_5{
	left:64px;
	-moz-animation-delay:0.64s;
	-webkit-animation-delay:0.64s;
	-ms-animation-delay:0.64s;
	-o-animation-delay:0.64s;
	animation-delay:0.64s;
}

#ballsWaveG_6{
	left:80px;
	-moz-animation-delay:0.72s;
	-webkit-animation-delay:0.72s;
	-ms-animation-delay:0.72s;
	-o-animation-delay:0.72s;
	animation-delay:0.72s;
}

#ballsWaveG_7{
	left:96px;
	-moz-animation-delay:0.8s;
	-webkit-animation-delay:0.8s;
	-ms-animation-delay:0.8s;
	-o-animation-delay:0.8s;
	animation-delay:0.8s;
}

#ballsWaveG_8{
	left:112px;
	-moz-animation-delay:0.88s;
	-webkit-animation-delay:0.88s;
	-ms-animation-delay:0.88s;
	-o-animation-delay:0.88s;
	animation-delay:0.88s;
}

@-moz-keyframes ballsWaveG{
	0%{
		background-color:#C72CC7;
	}

	100%{
		background-color:#8F8B8F;
	}

}

@-webkit-keyframes ballsWaveG{
	0%{
		background-color:#C72CC7;
	}

	100%{
		background-color:#8F8B8F;
	}

}

@-ms-keyframes ballsWaveG{
	0%{
		background-color:#C72CC7;
	}

	100%{
		background-color:#8F8B8F;
	}

	}

	@-o-keyframes ballsWaveG{
	0%{
		background-color:#C72CC7;
	}

	100%{
		background-color:#8F8B8F;
	}

}

@keyframes ballsWaveG{
	0%{
		background-color:#C72CC7;
	}

	100%{
	background-color:#8F8B8F;
	}

} 